<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 空间名随意起 -->
<mapper namespace="com.greenish_orchid.mapper.BrandMapper">
	<!-- 列表 -->
	<select id="queryAllMovie" parameterType="map" resultType="movie">
		select m.mid,m.mname,m.mdesc,m.mautor,GROUP_CONCAT(b.bname) bname,m.mdate
		from movie m,mbrand b,movie_mbrand mb 
		where m.mid=mb.mid and b.bid=mb.bid 
			<if test="mname != null and mname != ''">
				and m.mname like concat("%",#{mname},"%")
			</if>
		GROUP BY m.mid
	</select>





</mapper>